.name {
  margin-top: 3rem;
}
.company-logo {
  margin-top: -7rem;
}
.target-info {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  border-radius: 5px;
  padding: 3rem;
}
.target-info img {
  max-height: 13rem;
}
.hide-target-info {
  display: none;
}
.target-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.details-content {
  margin: 2rem;
}
.details-content p {
  margin-top: 0.5rem;
}
.hide-form {
  display: none;
}
.comma-directions {
  opacity: 0.8;
  font-size: 0.5rem;
}
.edit-cancel-button {
  cursor: pointer;
}
.delete-button {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .target-info {
    padding: 1rem;
    width: 90%;
  }
  .details-content {
    margin: 1rem;
  }
}
@media only screen and (min-width: 800px) {
  .target-info {
    width: 60%;
  }
}
